.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
button {
  width: 30%;
  height: 5%;
  font-size: 15px;
  margin: 5px;
}
